*:focus{
    box-shadow: none !important;
}
html{
    overflow-y: hidden;
}
.loader{
    animation: loader 1s linear infinite;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}